{
  "name": "{{name}}",
  "displayName": "{{name}}",
  "description": "{{name}} - A GitHub Copilot chat agent for VS Code",
  "version": "0.0.1",
  "engines": {
    "vscode": "^1.84.0"
  },
  "categories": [
    "Other"
  ],
  "activationEvents": [
    "onStartupFinished"
  ],
  "enabledApiProposals": [
    "chat",
    "chatAgents2",
    "chatVariables",
    "chatRequestAccess"
  ],
  "main": "./dist/extension.js",
  "contributes": {
    "configuration": [
      {
        "title": "{{description}}"
      }
    ]
  },
  "scripts": {
    "vscode:prepublish": "npm run package",
    "compile": "webpack",
    "package": "webpack --mode production --devtool hidden-source-map",
    "compile-tests": "tsc -p . --outDir out",
    "pretest": "npm run compile-tests && npm run compile",
    "test": "node ./out/test/runTest.js",
    "lint": "eslint src --ext .ts",
    "update-vscode-dts": "cd src && npx --yes vscode-dts@latest dev -f"

  },
  "devDependencies": {
    "@types/mocha": "^10.0.3",
    "@types/node": "18.x",
    "@typescript-eslint/eslint-plugin": "^6.13.1",
    "@typescript-eslint/parser": "^6.13.1",
    "@types/vscode": "^1.84.0",
    "@vscode/test-electron": "^2.3.6",
    "eslint": "^8.52.0",
    "glob": "^10.3.10",
    "mocha": "^10.2.0",
    "typescript": "^5.2.2",
    "ts-loader": "^9.5.0",
    "webpack": "^5.89.0",
    "webpack-cli": "^5.1.4"
    
  }
}